body {
    background-color: #93caa5;
    color: white;
    font-size: 1.3rem;
    background-image: url("backgroundImage.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-score {
    margin-left: .1rem;
    font-size: .8rem;
    color: #ffffff;
}

.result-selection {
    opacity: .5;
}

.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}

.results {
    height: 600px;
    overflow: auto;
}

/* width */
.results::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .results::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .results::-webkit-scrollbar-thumb {
    background: rgb(0, 136, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .results::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 136, 255); 

  }